
<h1>Edit Area</h1>

{{ include('editors/area/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('area_index') }}">back to list</a>

{{ include('editors/area/_delete_form.html.twig') }}

