
<span>{{'`gIn der Nähe reden einige Bewohner:' | colorize | raw }}</span>
<br />
<br />
<div data-posts="post">
    <div class="postcontainer">
        
    </div>

    <span class="last_page" class="clickable" style="color: darkgreen;"><-- vorherige Seite</span> 
    <span class="next_page" class="clickable" style="color: darkred;">nächste Seite --></span><br />

    <div class="preview">

    </div>

    <span class="clickable" style="color: darkgreen;" onclick="editPost" >Letzten Post bearbeiten </span> || 
    <span class="clickable" style="color: darkred;" onclick="deletePost" >Letzten Post löschen</span>
    <span style="color: red">{{error}}</span>
    <br />
    <br />
    <a class="clickable" href="http://www.rhun-logd.de/colorlist" target="_blank">Farbenliste</a> || 
    <a class="clickable" href="http://www.rhun-logd.de/posthelp" target="_blank">Tags</a>

    <form action="/post/add/{{ uuid }}" method="POST" >
        <textarea data-preview="post_preview"></textarea>
        <input type="hidden" name="id" value="" />
    </form>
    <input class="btn submit" type="button" value="Hinzuf&uuml;gen" />
</div>

