<h1>Rasse bearbeiten</h1>

{{ include('editors/race/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('race_index') }}">Zurück zur Liste</a>

{{ include('editors/race/_delete_form.html.twig') }}
