<!-- Impressum, Account erstellen, Rassenübersicht, Karte, 6t Sinn  -->
<li class="nav-item">
    <a class="nav-link" href="{{ path(target, params) }}">
        {{title | colorize | raw}}
    </a>
</li>
