<div class="row part">
    <div class="col-bg-8">
        <p style="color: blue;">
            INFO: Du erstellst hier keinen Charakter mit dem du dich sp&auml;ter durch
            die Welt von Rhun bewegen kannst, sondern nur einen Account um dich
            anmelden zu k&ouml;nnen. Wenn du das erledigt hast, kannst du nach
            Herzenslust Charaktere erstellen und damit die Welt erkunden.
            Du darfst maximal einen Account erstellen. Mehrere Accounts pro Person sind nicht gestattet und werden gelöscht.
        </p>
        <span>Wir empfehlen diesen Account nicht nach einem deiner sp&auml;teren Charaktere zu benennen.</span>
        <span>Die Angabe des Geburtsdatums is freiwillig. Wird benötigt um bestimmte Räume betreten zu können.</span>
        <span>Mit dem Erstellen deines Charakters stimmst du den hier geltenden "<a href='/rules' target='_blank'>Regeln und Gesetzen</a>" zu! </span>
    </div>
</div>
<br />

{{ form_start(form) }}
    {% include 'preLogin/form_row.html.twig' with
       {'form_attr': form.username, 'desc': 'Nickname' }
    %}
    {% include 'preLogin/form_row.html.twig' with
       {'form_attr': form.password.first, 'desc': 'Password'}
    %}
    {% include 'preLogin/form_row.html.twig' with
      {'form_attr': form.password.second, 'desc': 'Password (nochmal)'}
    %}
    {% include 'preLogin/form_row.html.twig' with
      {'form_attr': form.email, 'desc': 'Email'}
    %}
    {% include 'preLogin/form_row.html.twig' with
      {'form_attr': form.birthday, 'desc': 'Geburtstag (freiwillig)'}
    %}
    {{error}}
    <input type='submit' class='button' value='Erstellen'>
{{ form_end(form) }}
