<p class="important" style="color: red;">
    Du kannst dein Passwort nur zurücksetzen, wenn du vorher eine korrekte Emailadresse angegeben hast.
</p>
<p>
    Gib bitte deinen Accountnamen ein. Du bekommst dann ein neues Passwort zugeschickt.
</p>

<form action="{{ path(form_path) }}" method="post">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username" value="" />
    <button type="submit" class="button">Zurücksetzen</button>
</form>
