<div class="form-group">
    {{ form_label(form_attr, desc, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
    <div class="col-xs-6">
        {{ form_widget(form_attr, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>
